.nav {
    background-color: #1b2b4a;
}

.nav-link {
    color: #61dafb !important;
    font-size: 1.5rem;
    
}

.nav-link.active {
    color: #ffffff;
    background-color: #61dafb;
    
}

.nav-link:hover {
    color: #ffffff;
    background-color: #282c34;
}